
.auth-container {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: flex-end;
}

.auth-form {
    display: flex;
    flex-direction: column;
    background: $md-orange-10;
    padding: 10px;
    margin-right: 70px;
    border-radius: 10px;
    min-width: 350px;

    .auth-form-header {
        align-self: center;
    }
}




