.post-review-container {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.post-review {
  width: 500px;
  background: $md-orange-10;
  padding: 10px;
  border-radius: 10px;
}

.post-review-dropdown-button {
  flex-grow: 1;

  & .md-button {
    min-width: 210px;
  }
}

.select-container,
.submit-button-container {
  display: flex;
}

.submit-button {
  flex-grow: 1;
}