$brand-font-folder: '~@momentum-ui/core/fonts';
$icon-font-path: '~@momentum-ui/icons/fonts';
$images-path: '~@momentum-ui/core/images';

@import '~@momentum-ui/icons/scss/momentum-ui-icons';
@import '~@momentum-ui/core/scss/momentum-ui';

@import './global';

// components
@import '../components/SignIn/styles.scss';
@import '../components/Home/styles.scss';
@import '../components/PostReview/styles.scss';
@import '../components/ViewReviews/styles.scss';
@import '../components/ReviewItem/styles.scss';
@import '../components/Navigation/styles.scss';
@import '../components/PasswordForget/styles.scss';
