.review-item-container {
  display: flex;
  white-space: normal;
  height: auto;
}

.review-item-container .review-name {
  justify-content: initial;
  max-width: 100px;
  min-width: 100px;
}

.review-item-container .review-rating {
  max-width: 100px;
  min-width: 100px;
}

.review-brand {
  justify-content: initial;
  max-width: 100px;
  min-width: 100px;
}

.review-alcohol-name {
  justify-content: initial;
  max-width: 150px;
  min-width: 150px;
}

.review-item-container .review-details {
  justify-content: initial;
  min-width: 300px;
  max-width: 300px;
  padding-left: 50px;
}

.review-details,
.review-brand,
.review-name,
.review-alcohol-name {
  word-break: break-all;
}