.app-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.home-content-container {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}

.option-container {
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        border: 3px solid $md-orange-100;
    }

    .option-header {
        font-size: 40px;
        color: $md-white-100;
        text-shadow: -2px -2px 0 $md-black-100;
    }
}